.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #11113200);
    position: relative;
    z-index: -1;
    .textContainer{
        z-index: 1555;
    }
    .imageContainer{
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        // img{
        //     pointer-events: none;
        // }
    }
}