.navbar{
    height: 100px;
}
.wrapper{
    max-width: 1366px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 200px;
        cursor: pointer;
    }
    .social{
        display: flex;
        gap: 20px;
        img{
            width: 28px;
        }
    }
}
